html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f9f9f9;
    text-align: center;
    padding: 20px;
}

header {
    margin-bottom: 20px;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

.blue {
    color: #0763fa;
}

.blue {
    color: #0763fa;
}

p {
    color: #666;
    font-size: 1rem;
    margin: 10px 0;
}

.buttons {
    margin: 20px 0;
}

.btn {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 15px;
    font-weight: bold;
    display: inline-block;
    margin: 5px;
}

.primary {
    background-color: #007bff;
    color: #fff;
}

.secondary {
    background-color: #fff;
    color: #007bff;
    border: 2px solid #007bff;
}

 img {
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    margin-top: 20px;
}

.why-choose {
    margin-top: 40px;
}

h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.feature {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 220px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.feature img {
    width: 50px;
    margin-bottom: 10px;
}

h3 {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.feature p {
    font-size: 0.9rem;
}